<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8"/>
    <title> Fundamentals of Web Development </title>
    <link rel = "stylesheet" href = "css/main.css" />
    <script src = "js/html5shiv.js"></script>
</head>

<body>
    
    <h1> Fundamentals of Web Development </h1>
    <p> <em> By Randy Connolly and Ricardo Hoar </em> </p>
    <a href = "../images/cover-large.png"> 
        <img src = "../images/cover-small.png" alt = "textbook picture" />
    </a>
    <p> This textbook covers a broad range of topics required for modern web development </p>
    <a href = "https://github.com/funwebdev-3rd-ed"> 
        <p> Learn more </p>
    </a>

    <h2> First Chapters </h2>
    <ol>
        <li> Introduction to Web Development
        <li> How the Web Works
        <li> Introduction to HTML
        <li> Introduction to CSS
    </ol>
</body>

</html>
